<div class="message-box"
     style="
       border-color: {{ include.border | default: '#D9D9D0' }};
       background-color: {{ include.bg | default: '#F5F5F0' }};
       margin: {{ include.margin | default: '1.5em 0'}};
       max-width: 100%;
       overflow: auto;
     ">
  <div class="message-box__icon"
       style="color: {{ include.icon_color | default: '#4ade80' }}">
    <span class="material-symbols-outlined">{{ include.icon | default: 'info' }}</span>
  </div>
  <div class="message-box__contents">
    <strong style="display: block; margin-bottom: 4px;">
      {{ include.title | default: '정보' }}
    </strong>
    {{ include.content }}
  </div>
</div>